.Layout {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    img {
        width: 20%;
        height: 100%;
        object-fit: cover;
    }
}