.payments {
  width: 100%;

  .title {
    font-size: 35px;
    padding-bottom: 15px;
  }

  .payment-methods {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

    .card-methods {
      .card-desc {
        font-size: 17px;
        width: 100%;
      }

      .cards {
        margin-top: 15px;
        display: flex;
        align-items: center;
        column-gap: 30px;

        .card {
          width: 40px;
          object-fit: cover;

          &:hover {
            cursor: pointer;
            transform: scale(1.3);
          }
        }
      }
    }

    .cash-methods {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .cash-desc {
        font-size: 17px;
      }

      .cash {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;

        .money {
          width: 40px;
          object-fit: cover;

          &:hover {
            cursor: pointer;
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
